# Lab 2

In [1]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://ia-340-2-fall25147258/One Earth Data_12172020.csv') # load the data from s3
df.head() #show the top 5 rows; df.tail() will give last 5 rows

,Metric,ALL,Africa,Americas,Asia-Pacific,ECA,Pollinators,Land Deg,Scenarios,Global
0,Experts from Algeria,1,1,0,0,0,0,0,0,0
1,Experts from Argentina,24,0,8,0,0,5,1,3,7
2,Experts from Armenia,1,0,0,0,0,0,0,0,1
3,Experts from Aruba,0,0,0,0,0,0,0,0,0
4,Experts from Australia,27,0,0,11,0,4,4,4,4

In [2]:
df.shape #show the number of rows and columns

(439, 10)

In [4]:
df['Scenarios'] #select a column

0      0
1      3
2      0
3      0
4      4
      ..
434    1
435    0
436    0
437    0
438    0
Name: Scenarios, Length: 439, dtype: int64

In [5]:
df.sort_values(by='ALL') #sort data by a column

,Metric,ALL,Africa,Americas,Asia-Pacific,ECA,Pollinators,Land Deg,Scenarios,Global
20,Experts from Cambodia,0,0,0,0,0,0,0,0,0
256,Comments from Zambia,0,0,0,0,0,0,0,0,0
260,Reference first author affiliations from Armenia,0,0,0,0,0,0,0,0,0
261,Reference first author affiliations from Aruba,0,0,0,0,0,0,0,0,0
264,Reference first author affiliations from Azerb...,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
170,Comments from France,2330,145,142,332,482,860,181,188,0
250,Comments from United States of America,3587,26,1041,87,88,1586,644,115,0
174,Comments from Germany,3638,227,405,215,1672,374,571,174,0
248,Comments from United Kingdom of Great Britain ...,6690,697,495,455,1979,1562,369,1133,0
393,References in English,27098,1923,3688,3363,4298,3253,4167,1315,5091

In [6]:
df[0:5] #slice by rows

,Metric,ALL,Africa,Americas,Asia-Pacific,ECA,Pollinators,Land Deg,Scenarios,Global
0,Experts from Algeria,1,1,0,0,0,0,0,0,0
1,Experts from Argentina,24,0,8,0,0,5,1,3,7
2,Experts from Armenia,1,0,0,0,0,0,0,0,1
3,Experts from Aruba,0,0,0,0,0,0,0,0,0
4,Experts from Australia,27,0,0,11,0,4,4,4,4

In [8]:
df[df['Pollinators']>5] # select rows by values

,Metric,ALL,Africa,Americas,Asia-Pacific,ECA,Pollinators,Land Deg,Scenarios,Global
16,Experts from Brazil,33,0,12,0,0,7,5,2,7
72,Experts from Mexico,23,0,8,0,0,6,1,1,7
119,Experts from United Kingdom of Great Britain a...,46,5,1,2,12,6,7,5,8
121,Experts from United States of America,84,3,28,2,1,8,20,4,18
130,Comments from Argentina,847,2,423,2,2,318,80,20,0
133,Comments from Australia,833,42,19,259,120,82,191,120,0
138,Comments from Belgium,820,178,0,0,227,328,12,75,0
142,Comments from Bolivia (Plurinational State of),344,0,300,0,0,14,0,30,0
145,Comments from Brazil,838,0,567,0,0,261,10,0,0
151,Comments from Canada,2319,24,337,0,123,1460,112,263,0
152,Comments from Chile,11,0,0,0,0,11,0,0,0
153,Comments from China,1491,0,0,536,0,119,757,79,0
154,Comments from Colombia,509,0,258,0,0,164,87,0,0
158,Comments from Cuba,192,0,108,0,0,31,53,0,0
164,Comments from Egypt,231,135,0,0,24,8,64,0,0
167,Comments from Ethiopia,75,30,0,0,0,22,22,1,0
169,Comments from Finland,397,0,0,0,253,11,128,5,0
170,Comments from France,2330,145,142,332,482,860,181,188,0
174,Comments from Germany,3638,227,405,215,1672,374,571,174,0
178,Comments from Guatemala,74,0,42,0,0,32,0,0,0
181,Comments from India,805,0,0,306,10,258,177,54,0
183,Comments from Iran (Islamic Republic of),194,0,0,0,0,92,102,0,0
185,Comments from Israel,82,0,0,0,0,69,13,0,0
186,Comments from Italy,597,50,10,0,29,425,58,25,0
188,Comments from Japan,293,0,0,230,0,39,0,24,0
191,Comments from Kenya,143,0,0,0,0,116,9,18,0
198,Comments from Malaysia,107,0,0,17,0,87,3,0,0
199,Comments from Malta,24,0,0,0,10,14,0,0,0
201,Comments from Mexico,1908,45,1481,55,30,97,166,34,0
205,Comments from Nepal,144,0,0,92,0,34,0,18,0
206,Comments from Netherlands,1585,59,73,44,379,217,634,179,0
207,Comments from New Zealand,386,0,0,27,0,148,145,66,0
208,Comments from Niger,8,0,0,0,0,8,0,0,0
209,Comments from Nigeria,98,36,0,0,0,28,16,18,0
210,Comments from Norway,797,1,0,0,248,548,0,0,0
211,Comments from Pakistan,190,0,0,112,6,29,43,0,0
215,Comments from Peru,214,0,94,0,0,60,23,37,0
216,Comments from Philippines,302,0,0,230,0,72,0,0,0
221,Comments from Russian Federation,302,48,0,0,225,24,5,0,0
231,Comments from South Africa,2281,1830,0,0,0,288,48,115,0
232,Comments from Spain,901,0,21,0,132,592,148,8,0
237,Comments from Sweden,322,0,0,0,161,135,0,26,0
239,Comments from Switzerland,2191,297,107,55,1020,541,117,54,0
245,Comments from Turkey,315,0,0,7,181,35,44,48,0
246,Comments from Uganda,126,30,0,0,0,78,18,0,0
248,Comments from United Kingdom of Great Britain ...,6690,697,495,455,1979,1562,369,1133,0
250,Comments from United States of America,3587,26,1041,87,88,1586,644,115,0
257,Comments from Zimbabwe,35,17,0,0,0,13,5,0,0
280,Reference first author affiliations from Canada,81,9,14,6,3,9,7,12,21
299,Reference first author affiliations from France,60,10,6,6,8,6,6,9,9
303,Reference first author affiliations from Germany,49,3,4,2,11,6,6,7,10
330,Reference first author affiliations from Mexico,11,0,4,0,0,7,0,0,0
377,Reference first author affiliations from Unite...,153,23,17,12,17,18,18,22,26
379,Reference first author affiliations from Unite...,320,30,59,26,16,46,49,37,57
393,References in English,27098,1923,3688,3363,4298,3253,4167,1315,5091
395,References in French,136,46,2,0,3,35,41,2,7
396,References in German,30,0,0,0,22,6,0,1,1
398,References in Indonesian,6,0,0,0,0,6,0,0,0
405,References in Portugese,78,0,48,0,1,19,7,0,3
409,References in Spanish,288,1,216,0,3,41,11,9,7

In [ ]:
df.info() # shows the data types and number of null values.

In [ ]:
df.isnull().sum() #show the number of rows containing null value